
body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #31B404;
}

.quem-somos{
    background-color: #A4A4A4;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.parceiros{
    background-color: #58FAD0;
}
.serviços{
    background-color: #D7DF01;
}
.bg-footer{
    background-color: #FF0000;
    color: white;
}